.title-container {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-inner{
  height: 90%;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}


.title-bottom {
  background-color: red;
  width: 100%;
  height: 5px;
}