.project-item-container {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: grey;
  text-align: center;
  transition: all .5s ease-in-out;
  display: flex;
  overflow: hidden;

  &:hover .project-item-inner {
    opacity: 0;
  }

  &:hover .button-code {
    visibility: visible;
    top: 20px;
  }

  &:hover .button-website {
    visibility: visible;
    bottom: 20px;
  }

  &:hover {
    background-color: #fff;
  }

  button {
    font-size: 1rem;
    position: absolute;
    border: 1px solid #E31B6D;
    transition: all 0.5s ease-in-out;

    &:hover{
      background-color: #E31B6D;
      color: #fff;
    }
  }

}

.project-item-inner {
  height: 100%;
  width: 100%;
  transition: all .5s ease-in-out;

  img {
    width: 100%;
    height: 100%;
  }

}





.button-website {
  bottom: -45px;
  right: 21%;
}

.button-code {
  top: -46px;
  right: 30%;
}