.contact-container{
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252934;
  color: #fff;

  h5{
    font-size: 1.6rem;
    width: 40%;
    text-align: center;
  }
}

.contact-form{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  @media screen and (max-width: 500px) {
    width: 80%;
  }
 
  input, textarea{
    background-color: #1E242C;
    border-color: transparent;
    font-size: 1.2rem;
    color: #fff;

    &:focus{
      outline: none;
    }
  }

  textarea{
    resize: none;
  }

  button{
    font-size: 1.4rem;
    color: #fff;
    border-color: #fff;
    align-self: end;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: #04C2C9;
    }
  }
}

::placeholder { /* Microsoft Edge */
  color: #57595C;
}