.contact-container{
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252934;
}

.contact-form{
  height: 70%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
 
  input, textarea{
    background-color: #1E242C;
    border-color: transparent;
    font-size: 1.2rem;
    color: #fff;

    &:focus{
      outline: none;
    }
  }

  textarea{
    resize: none;
    height: 40%;
  }

  button{
    font-size: 1.4rem;
    padding: 0.8rem;
    color: #fff;
    border-color: #fff;
    align-self: end;
    background-color: transparent;
    transition: all 0.3s ease-in-out;

    &:hover{
      background-color: #04C2C9;
    }
  }
}

::placeholder { /* Microsoft Edge */
  color: #57595C;
}