.intro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 100%;
  min-width: 100%;
}


.intro-inner {
  width: 50%;
  height: 40%;
  font-size: 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  div {
    font-weight: 800;

    span {
      color: #E31B6D;
    }
  }
}

.intro-mywork-button {
  border: 1px solid #fff;
  padding: 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;

  span {
    transition: all 0.5s ease-in-out;
    margin-left: 5px;
    text-align: center;
    display: flex;
  }



  &:hover {
    background-color: #04C2C9;
    cursor: pointer;

    span {
      transform: rotate(90deg);
      color: #fff;
    }
  }
}