.intro-container{
  height: 100vh;
  border: 2px solid rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.particles-intro{
  position: absolute;
  z-index: -1;
}

.intro-inner{
  border: 1px solid red;
  width: 50%;
  height: 50%;
}

