.about-page{
    height: 92vh;
    background-color: #5f5faf;
    width: 100%;
}

.about-container {
    margin-top: 1rem;
    height: 82vh;
    display: flex;
    justify-content: center;
    border: 1px solid blue;
    gap: 3rem;
}

.about-left , .about-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid yellow;
 
    width: 40%;
}

.about-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid green
}

.about-description{
    h2{
        text-align: center;
    }
    div{
        text-align: center;
    }
}

.skill-range-container{
    width: 100%;
    height: 90%;
    border: 2px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    animation: moveFromRightToLeft .5s linear forwards;
}


@keyframes moveFromRightToLeft {
    0%{transform: translateX(400px);}
    100%{transform: translateX(-0px);}
}