.skill-container {
  height: 30px;
  width: 90%;
  border: 1px solid hotpink;
  display: flex;
}

.skill-left {
  width: 20%;
  svg{
    font-size: 2rem;
    fill: yellow;
  }
}

.skill-right{
  width: 80%;
  .skill-bar{
    height: 50%;
    width: 100%;
    background-color: grey;
    border-radius: 20px;
  }
}
