.skill-range-container{
  height: 30px;
  width: 50%;
  border: 5px solid hotpink;
  display: flex;
}

.skill-range-name{
  height: 100%;
  width: 20%;
  background-color: aqua;
}

.skill-rang-size{
  position: relative;
  width: 80%;

  h4{
    position: absolute;
    top: -15px;
    right: 10px;
    z-index: 2;
  }
}