.skill-container {
  padding: 3px;
  height: 40px;
  width: 90%;
  border: 1px solid hotpink;
  display: flex;
}

.skill-left {
  width: 10%;
  display: flex;
  align-items: center ;
  svg{
    font-size: 2rem;
    fill: yellow;
  }
}

.skill-right{
  width: 90%;
  .skill-bar, .skill-progress{
    height: 10px;
    border-radius: 20px;
  }
    .skill-bar{
      background-color: grey;
      width: 100%;
    }
    .skill-progress{
      background-color: red;
      width: 80%;
    }
  }



